<div class="nav-toggle">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
    <div class="side-nav" role="complementary" >
{#<a href="#" class="js-nav-toggle nav-toggle"><i></i></a>#}

    {% if request.user.is_authenticated %}



    <nav class="navigation" role="navigation">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'media:homepage'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'media:media'%}" >Media</a>
        </li>
        <li class="nav-item"><a href="{% url 'media:profile'%}" class="nav-link">Profile</a></li>
        <li class="nav-item"><a href="{% url 'media:logout'%}" class="nav-link">Logout</a></li>
    </ul>

			<div class="footer">
				<h1 class="mb-4">By: Obed <span>Balogun</span></h1>

	  Copyright ©<script>document.write(new Date().getFullYear());</script>
			</div>
		</nav>
   {% endif %}
		</div>
